.idea/
# Python virtual environment for DFU images
.venv/

# CMake
cmake-build-*
cmake-*/
CMakeFiles
**/CMakeCache.txt
cmake_install.cmake
Makefile
build
tools

# Resulting binary files
*.a
*.so
*.s
*.hex
*.bin
!bootloader/bootloader-5.0.4.bin
*.map
*.out
pinetime*.cbp

# InfiniTime's files
core
sdk
src/Version.h
docker/post_build.sh
Testing/Temporary/

# Linux
**/.directory
**/*.swp

# OSX/MacOS
**/.DS_Store

# Windows
**/thumbs.db

#VSCODE
.vscode/.cortex-debug.registers.state.json
.vscode/.cortex-debug.peripherals.state.json

#build files
src/nRF5_SDK_15.3.0_59ac345
src/arm-none-eabi

# clangd
.cache/

# Added by Claude Task Master
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store
# Task files
tasks.json
# tasks/ 
.roo
.cursor
.roomodes